
# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [3]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/upgrade-sqlite3.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio precisaremos fazer uma transformação completa na tabela `Customer`! 
1.Concatene as colunas `Customer.FirstName` e `Customer.LastName`, gerando uma coluna `nome` onde apenas a primeira letra do nome seja Maiúscula. Exemplo: Fernanda Ramos    
2.Concatene as colunas `Customer.City` e `Customer.State`, e gerando uma coluna com a descrição `cidade` onde apenas a coluna `Customer.State` seja Maiúscula. Exemplo: belém-PA.     
3.Crie uma nova coluna chamada `cep` a partir da coluna `Customer.PostalCode` removendo todos os caracteres e convertendo o tipo de dados para Integer. 
4.Filtre a tabela para apresentear somente dados do país "BRAZIL" e cep <> 0

Critério:  
Escreva essa transformação em apenas uma query. Boa sorte!

resultado esperado:  

|codigo|nome|endereco|cidade|pais|cep|telefone|Email
|-----:|-----:|-----:|-----:|-----:|-----:|-----:|-----
|1|Luís gonçalves|av. brigadeiro faria lima, 2170|são josé dos campos-SP|BRAZIL|12227000|551239235555|luisg@embraer.com.br
|10|Eduardo martins|rua dr. falcão filho, 155|são paulo-SP|BRAZIL|1007010|551130335446|eduardo@woodstock.com.br
|11|Alexandre rocha|av. paulista, 2022|são paulo-SP|BRAZIL|1310200|551130553278|alero@uol.com.br
|12|Roberto almeida|praça pio x, 119|rio de janeiro-RJ|BRAZIL|20040020|552122717000|roberto.almeida@riotur.gov.br
|13|Fernanda ramos|qe 7 bloco g|brasília-DF|BRAZIL|71020677|556133635547|fernadaramos4@uol.com.br

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize esse link: https://www.tutlane.com/tutorial/sqlite

In [4]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3'

explicação da implementação do código
....

In [75]:
%%sql

select CustomerId as Codigo,
FirstName || ' ' || lower(LastName) as Nome,
lower(Address) as Endereco,
city || '-' || upper(state) as Cidade,
upper(country) as Pais,
cast(replace(PostalCode,'-','') as int) as CEP,
replace(replace(replace(replace(replace(Phone,'+',''),'(',''),')',''),'-',''),' ','') as Telefone,
Email as Email
from Customer
where Pais = 'BRAZIL' AND CEP <> 0

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3
Done.

[(1, 'Luís gonçalves', 'av. brigadeiro faria lima, 2170', 'São José dos Campos-SP', 'BRAZIL', 12227000, '551239235555', 'luisg@embraer.com.br'),
 (10, 'Eduardo martins', 'rua dr. falcão filho, 155', 'São Paulo-SP', 'BRAZIL', 1007010, '551130335446', 'eduardo@woodstock.com.br'),
 (11, 'Alexandre rocha', 'av. paulista, 2022', 'São Paulo-SP', 'BRAZIL', 1310200, '551130553278', 'alero@uol.com.br'),
 (12, 'Roberto almeida', 'praça pio x, 119', 'Rio de Janeiro-RJ', 'BRAZIL', 20040020, '552122717000', 'roberto.almeida@riotur.gov.br'),
 (13, 'Fernanda ramos', 'qe 7 bloco g', 'Brasília-DF', 'BRAZIL', 71020677, '556133635547', 'fernadaramos4@uol.com.br')]